input.whittle-cell {
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  caret-color: transparent;
  border-radius: 2px;
}

td.green {
  border: solid 3px #6ab04c;
  background-color: #badc58;
  color: whitesmoke;
}

td.yellow {
  border: solid 3px #f6e58d;
  background-color: #f9ca24;
  color: whitesmoke;
}

td.grey {
  border: solid 3px #535c68;
  background-color: #95afc0;
  color: whitesmoke;
}