/* Blog List & Summary */
.tags {
  text-decoration: none;
  font-size: .8rem;
  padding: 3px;
  border-radius: 8px;
  border: 1px solid #303952;
}

.tags.purple {
  color: #303952;
  background-color: #786fa6;
}
.tags.purple:hover {
  background-color: #847ea5;;
}

.tags.red {
  color: #303952;
  background-color: #ea8685;
}
.tags.red:hover {
  background-color: #dc9998;
}

.tags.blue {
  color: #303952;
  background-color: #778beb;
}
.tags.blue:hover {
  background-color: #8f9fef
}

li>div.card.blog-summary:hover {
  left: 0;
  padding: 0, 5px;
  border-left: 5px solid whitesmoke;
  border-right: 5px solid whitesmoke;
}

div.card.blog-summary {
  border: none;
  left: 5px;
}

/* Return Btn */
#button-search {
  max-width: 32px;
  align-content: center;
  padding: auto 0;
}

i.search-icon {
  margin: 0;
}

/* End Rtern Btn */

/* Links and anchor tags */


/* End links and anchor tags */

.code>p {
  text-align: end;
  font-size: smaller;
  color: rgba(0, 0, 0, 0.556);
}

.code {
  font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
  background: rgba(135, 131, 120, 0.15);
  border-radius: 3px;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  tab-size: 2;
  padding: 1em 1em;
}

.code-wrap {
  white-space: pre-wrap;
  word-break: break-all;
}

.code>code {
  background: none;
  padding: 0;
  color: inherit;
  color: #eb5757;
}