/* .portfolio-img {
  border-right: 1px solid ivory;

} */
.card {
  border-color: ivory;
  background-color: #212121;
  --bs-card-bg: #212121
}

.card-header {
  border-color: ivory;
}

.tab-conent > .tab-pane:active {
  background-color: #212121;
  color: ivory;
}

.portfolio-card {
  background-color: #212121;
  color: ivory;
  border-left: 1px solid ivory;
}

li .nav-item {
  background-color: #212121;
}

a.nav-link:active {
  background-color: #212121;
  color: ivory;
  border-color: ivory;
}