/* #home-container {
  height: 50vw;
} */

#home-animation {
  height: 250px;
  width: 250px;
  align-items: center;
  justify-content: end;
}

#home-row {
  min-height: 50vh;
}

#about-btn {
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.5rem;
  width: 120px;
}

#portfolio-btn {
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.5rem;
  width: 120px;
}

#projects-btn {
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.5rem;
  width: 120px;
}

#blog-btn {
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.5rem;
  width: 120px;
}
