

/* unvisited link */
a.plain-link:link {
  color: ivory;

}
/* visited link */
a.plain-link:visited {
  color: green;
}
/* mouse over link */
a.plain-link:hover {
  color: #555749;
}
/* selected link */
a.plain-link:active {
  color: blue;
}


