@font-face {
  font-family: 'OSS-Semibold';
  src: url('../public/fonts/OpenSauceSans-SemiBold.ttf');
}

.nav-link.active {
  font-weight: bold;
  color: black;
}

.email-btn {
  font-size: 1.5rem;
}

a.navigation-link {
  text-decoration: none;
}

/* unvisited link */
a.navigation-link:link {
  color: inherit;

}

/* visited link */
a.navigation-link:visited {
  color: inherit;
}

/* mouse over link */
a.navigation-link:hover {
  color: inherit;
  background-color: #212121;
}

/* selected link */
a.navigation-link:active {
  color: #555749;
}

#visitor-count {
  font-size: 6rem;
  justify-content: center;
  text-align: center;
}

.locale {
  font-size: 1rem;
}
