#header>div.card{
  border: none;
  border-left: none;
}

.email:active {
  text-decoration: none;

}

#contact:first-child {
  font-size: 1.5rem;
}

footer {
  text-align: center;
}

footer i {
  margin: 0 1rem;
  color: ivory;
  font-size: 2rem;
}

.copyright {
  background-color: ivory;
  color: #212121;
  padding: 1rem 0;
}