#header>div.card{
  border: none;
  border-left: none;
  box-shadow: none;
}

#contact>p>a {
  color: white
}
#contact>p>a:link {
  color: none;
}
#contact>p>a:visited {

}
#contact>p>a:hover {
  transform: scale(2, 0.5);
}


/* unvisited link */
a.email:link {
  text-decoration: none;
}
/* visited link */
a.email:visited {
}
/* mouse over link */
a.email:hover {
  border-bottom: 1px solid ivory;
}
/* selected link */
a.email:active {
  color: blue;
}

#contact:first-child {
  font-size: 1.5rem;
}

footer {
  text-align: center;
}

footer i {
  margin: 0 1rem;
  font-size: 2rem;
}

.copyright {
  background-color: ivory;
  color: #212121;
  padding: 1rem 0;
}